@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style-type:none;}
body,dl,dd,h1,h2,h3,h4,h5,h6,p,form,ol,ul{margin:0;padding:0;}
body{font:12px "微软雅黑",arial;background-size:100% auto;background:#f6f6f6;}
a{text-decoration:none;}
img{border:none;}
ul,li{list-style:none;list-style-type:none;}
/*clearfix清除浮动*/
.clearfix:after{visibility:hidden;display:block;content:" ";clear:both;height:0;line-height:0;}
.clearfix{zoom:1;}

/*made*/
.made{background:#FFF;}
.madegame{width:100%;overflow:hidden;}
#ho{position:relative !important;}
#ho li{float:left;width:320px;position:relative;}